{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}
    
{% block main %}
<br>
<section >
  <div class="container5">
  <p>Welcome to EZ-Appointify, your go-to platform for seamless appointment booking at nearby stores, whether it's a barbershop, salon, car service center, or more. At EZ-Appointify , we strive to simplify and enhance your scheduling experience, allowing you to efficiently manage your appointments and enjoy the convenience of a hassle-free booking process.</p>
  </div>
  </section>
  <div class='parent3'>
    <center>
  <h2>Our team</h2>
  </center>
  <br>
  <div id="child5"><img id="card" src="/static/bapu.jpg" alt="Avatar">
    <div >Dushyantsinh gohil</div>
    <div >4th sem CE </div></div>
    <div id="child5"><img id="card" src="/static/dev.jpg" alt="Avatar">
      <div >Devarshi nayee</div>
      <div >4th sem CE </div></div>
  <div id="child5"><img id="card" src="/static/meet.jpg " alt="Avatar">
    <div >Meet Rangholiya</div>
    <div >4th sem CE </div></div>
    <div id="child5"><img id="card" src="/static/om.png" alt="Avatar">
      <div >Om Solanki</div>
      <div >4th sem CE </div></div>
    <div id="child5"><img id="card" src="/static/pandya.jpg" alt="Avatar">
      <div>Aditya Pandya</div>
      <div >4th sem CE </div></div>
  
  </div>


{% endblock %}