{% extends "layout.html" %}

{% block title %}
    terms
{% endblock %}

{% block main %}

<br>



<section id="term">
    <center><h1>Terms of Use</h1></center>
    <br>
    <div class="container5">
    <p>1. Acceptance of Terms :</p>
    <p class="thin"> By accessing and using this website ("EZ-appointify"), you agree to comply with and be bound by the following terms and conditions. If you do not agree with these terms, please refrain from using the Website.
        </p>
        <br>
        <p>2. Description of Service :</p>
        <p class="thin">   The Website provides an online platform for users to book appointments at various service providers, including but not limited to barbershops, salons, car service centers, etc. Users can schedule appointments, manage bookings, and receive confirmation notifications through the Website.</p>
            <br>
            <p>3. User Registration :</p>
            <p class="thin"> To use certain features of the Website, users may be required to create an account. Users are responsible for maintaining the confidentiality of their account information and are liable for all activities that occur under their account.</p>
            <br>
            <p>4. Booking Process :</p>
            <p class="thin"> Users may book appointments by selecting a service provider, choosing a date and time, and providing necessary information. Confirmation of appointments will be sent to users via email.</p>
            <br>
            <p>5. Cancellation and Rescheduling :</p>
            <p class="thin"> Users can cancel or reschedule appointments through the Website within the specified time frame set by the service provider. Some service providers may have cancellation fees, and users are responsible for reviewing and understanding the cancellation policy of each provider.</p>
            <br>
                        <p> 6. Service Provider Policies :</p>
                        <p class="thin"> Users must adhere to the policies and guidelines set forth by the service providers, including but not limited to arrival times, dress codes, and any other specific requirements. Failure to comply may result in denied services.</p>
            <br>
            <p>7. User Conduct :</p>
            <p class="thin">Users agree not to engage in any unlawful or prohibited activities while using the Website. This includes, but is not limited to, providing false information, attempting to access unauthorized areas of the Website, or interfering with the functionality of the Website.</p>
            <br>
            <p>8. Privacy :</p>
            <p class="thin">  The Website collects and processes personal information in accordance with its Privacy Policy. By using the Website, users consent to the collection and use of their information as described in the Privacy Policy.
            </p>
        
    </div>
</section>
<br>
       
{% endblock %}